@page "/product"
@inject IProductRepository _productRepository
@inject IJSRuntime _js
@using System.Globalization

<h3>ProductList</h3>

<BsModal OnModalConfirmation="ConfirmDeleteClick"
    ButtonBootstrapStyle="btn-danger" ButtonText="Delete" Title="Are you sure you want to delete the product?"></BsModal>

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center
                bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading"/>
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Product List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a class="btn btn-secondary btn-lg" style="width:250px" href="product/create"><i class="bi bi-plus-circle"></i> Add New Product</a>
                </div>
            </div>
            <p>Product List</p>
            @if (Products.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Special Tag</th>
                            <th>Category</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var product in Products)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Price.ToString("C", CultureInfo.GetCultureInfo("en-us"))</td>
                                <td><span class="badge text-bg-info">@product.SpecialTag</span></td>
                                <td>@product.Category.Name</td>
                                <td>
                                    <a href="@($"product/update/{product.Id}")" class="btn btn-primary"><i class="bi bi-pencil"></i> Edit</a>
                                    <button class="btn btn-danger" @onclick="() => handleDelete(product.Id)">
                                        <i class="bi bi-x-circle"></i> Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private bool IsProcessing { get; set; } = true;
    private IEnumerable<Product> Products { get; set; } = new List<Product>();
    private int DeleteProductId { get; set; } = 0;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadProducts()
    {
        // Load categories
        Products = await _productRepository.GetAllAsync();
    }

    private void handleDelete(int id)
    {
        DeleteProductId = id;
        _js.InvokeVoidAsync("ShowConfirmationModal");
    }

    private async Task ConfirmDeleteClick(bool isConfirmed)
    {
        IsProcessing = true;
        await _js.InvokeVoidAsync("HideConfirmationModal");
        if (isConfirmed && DeleteProductId != 0)
        {
            var result = await _productRepository.DeleteAsync(DeleteProductId);
            if (result)
            {
                _js?.ToastrSuccess("Product Deleted Successfully");
            }
            else
            {
                _js?.ToastrError("Error Whilst Deleting");
            }
            // refresh product list
            await LoadProducts();
        }
        DeleteProductId = 0;
        IsProcessing = false;
    }

}
